# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~

# tox and pytest
.tox
.cache

# precompiled rules included in dist but not source
apkid/rules/rules.yarc

# Apks and dex files for testing
test-data